.digit {
  display: inline-block;
  min-width: 22px;
  padding: 3px 7px;
  margin: 0px 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /*background-color: #999999;*/
  border-radius: 3px
}


@-webkit-keyframes pulse {
from { background-color: #777; -webkit-box-shadow: 0 0 9px #555; }
50%  { background-color: #333; -webkit-box-shadow: 0 0 18px #FFF;}
to   { background-color: #777; -webkit-box-shadow: 0 0 9px #555; }
}

@-webkit-keyframes shadowpulse {
from {-webkit-box-shadow: 0 0 9px #000; }
50%  {-webkit-box-shadow: 0 0 28px #FFF;}
to   {-webkit-box-shadow: 0 0 9px #000; }
}

.colorX {
    background-color: #555;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}


.color0  {background-color: #777777;}
.color1  {background-color: #37aedb;}
.color2  {background-color: #3ebf84;}
.color3  {background-color: #e7389a;}
.color4  {background-color: #f39e3d;}
.color5  {background-color: #4d4295;}
.color6  {background-color: #b365df;}
.color7  {background-color: #6c2cd1;}
.color8  {background-color: #f8e234;}
.color9  {background-color: #f89434;}
.color10 {background-color: #2c8fd1;}
.color11 {background-color: #d12cca;}
.color12 {background-color: #deef32;}







